useDynLib(ccgarch, 
dcc_est,
dcc_sim,
eccc_sim,
stcc_sim,
uni_vola,
uni_vola_sim,
vector_garch
)

export(
"vector.garch",
"uni.vola.sim",
"uni.vola",
"stcc.sim",
"eccc.sim",
"dcc.sim",
"dcc.est",
"stationarity",
"tr.func",
"ljung.box.test",
"rob.sk",
"rob.kr",
"fourth",
"jb.test",
"p.mat",
"analytical.Hessian",
"analytical.grad",
"vdR",
"vec.garch.derivative",
"loglik.dcc1",
"loglik.dcc2",
"loglik.dcc",
"loglik.eccc",
"grad.dcc2",
"dlv",
"dlv.est",
"dlc",
"d2lv",
"grad.dcc.full",
"dcc.estimation",
"dcc.estimation1",
"dcc.estimation2",
"dcc.results",
"eccc.estimation"
)

